{% extends './base.jinja' %}

{% block content %}
	<main class="main" style="min-height: 60vh">
		<h3 class="pt-5 py-2 text-center">404</h3>
		<p class="text-center">Page not found</p>
		<p class="text-center">
			<a href="/login" class="btn btn-primary">Go to Home</a>
		</p>
	</main>
{% endblock content %}
