{% extends './base.jinja' %}

{% block content %}
	<main class="main">
		<!-- Pricing Section -->
		<h3 class="pt-5 py-2 text-center">Select a Plan</h3>
		<section id="pricing" class="pricing section">
			<div class="container">
				<div class="row gy-3 d-flex justify-content-center">
					<div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="100">
						<div class="pricing-item">
							<h3>Free</h3>
							<h4><sup>$</sup>0<span> / month</span></h4>
							<ul>
								<li>Aida dere</li>
								<li>Nec feugiat nisl</li>
								<li>Nulla at volutpat dola</li>
								<li class="na">Pharetra massa</li>
								<li class="na">Massa ultricies mi</li>
							</ul>
							<button id="one_time" class="payment-btn btn btn-primary">Buy Now</button>
						</div>
					</div>
					<!-- End Pricing Item -->
					<div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="400">
						<div class="pricing-item">
							<span class="advanced">Advanced</span>
							<h3>Ultimate</h3>
							<h4><sup>$</sup>49<span> / month</span></h4>
							<ul>
								<li>Aida dere</li>
								<li>Nec feugiat nisl</li>
								<li>Nulla at volutpat dola</li>
								<li>Pharetra massa</li>
								<li>Massa ultricies mi</li>
							</ul>
							<button id="subscription" class="payment-btn btn btn-primary">Buy Now</button>
						</div>
					</div>
					<!-- End Pricing Item -->
				</div>
			</div>
		</section>
		<!-- /Pricing Section -->
	</main>
{% endblock content %}

{% block scripts %}
	<script type="application/javascript">
		$(".payment-btn").on('click', async function (e) {
			const payment_type = $(this).attr('id');
			const response = await fetch('/api/payment/checkout', {
				method: 'POST',
				headers: {'Content-Type': 'application/json'},
				body: JSON.stringify({ type: payment_type })
			});
			if (!response.ok) {
				console.error("Failed to fetch payment link", response.statusText);
				alert("Failed to fetch payment link");
			}
			const data = await response.json();
			if (data.url) {
				location.href = data.url
			} else {
				console.error("Invalid response from server", data);
				alert("Failed to fetch payment link");
			}
		})
	</script>
{% endblock %}
