{% extends './base.jinja' %}

{% block content %}
	<main class="main">
		<!-- Pricing Section -->
		<section id="pricing" class="pricing section">
			<div class="container">
			<h3 class="pt-5 py-2 text-center" style="line-height: 1.5;">Complete our detailed questionnaire to complete a detailed assessment of the 10 Pillars of Life Mastery</h3>
			<h3 class="pt-4 pb-4 text-center">Select a Plan</h3>
				<div class="row gy-3 d-flex justify-content-center">
					<!-- Subscription Plan -->
					<div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="100">
						<div class="pricing-item text-center shadow p-4 rounded">
							<h3>Monthly Subscription</h3>
							<h4 class="my-3"><sup>$</sup>49<span> / month</span></h4>
							<button id="subscription" class="payment-btn btn btn-primary btn-sm mb-4 w-100">Subscribe Now</button>
							<hr/>
							<h5 class="mb-3">FEATURES</h5>
							<ul class="list-unstyled text-start">
								<li>✅ &nbsp; Bi-monthly live sessions from Arsalan</li>
								<li>✅ &nbsp; Regular Q&A sessions</li>
								<li>✅ &nbsp; Access to the community tab</li>
								<li>✅ &nbsp; Ability to take the assessment monthly</li>
								<li>✅ &nbsp; Subscription to the exclusive newsletter</li>
							</ul>
						</div>
					</div>

					<!-- One-Time Plan -->
					<div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="200">
						<div class="pricing-item text-center shadow p-4 rounded">
							<h3>One-Time Access</h3>
							<h4 class="my-3"><sup>$</sup>65<span> / one-time</span></h4>
							<button id="one_time" class="payment-btn btn btn-primary btn-sm mb-4 w-100">Buy Now</button>
							<hr/>
							<h5 class="mb-3">FEATURES</h5>
							<ul class="list-unstyled text-start">
								<li>❌ &nbsp; Bi-monthly live sessions from Arsalan</li>
								<li>❌ &nbsp; Regular Q&A sessions</li>
								<li>❌ &nbsp; Access to the community tab</li>
								<li>✅ &nbsp; Ability to take the assessment monthly</li>
								<li>✅ &nbsp; Subscription to the exclusive newsletter</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock content %}

{% block scripts %}
	<script type="application/javascript">
		$(".payment-btn").on('click', async function (e) {
			const payment_type = $(this).attr('id');
			const response = await fetch('/api/payment/checkout', {
				method: 'POST',
				headers: {'Content-Type': 'application/json'},
				body: JSON.stringify({type: payment_type})
			});
			if (!response.ok) {
				console.error("Failed to fetch payment link", response.statusText);
				alert("Failed to fetch payment link");
			}
			const data = await response.json();
			if (data.url) {
				location.href = data.url;
			} else {
				console.error("Invalid response from server", data);
				alert("Failed to fetch payment link");
			}
		});
	</script>
{% endblock %}
