{% extends './base.jinja' %}

{% block content %}
	<main class="main">
		<section id="resetPasswordPage" class="py-3 py-md-5 py-xl-8">
			<div class="container">
				<div class="row gy-4 align-items-center">
					<div class="col-12 col-md-6 col-xl-7">
						<div class="d-flex justify-content-center">
							<div class="col-12 col-xl-9">
								<hr class="border-primary-subtle mb-4"/>
								<h2 class="h1 mb-4">Welcome to</h2>
								<h2 class="h1 mb-4" style="color: #018fae">The Ascension Questionnaire</h2>
								<p class="lead mb-5">This is a detailed questionnaire based on the 10 Pillars Of Life Mastery. This assessment will take you to all the corners of your life, helping you understand how optimized each pillar of your life is and what levels of chronic stress you currently endure. Get started by signing up.</p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6 col-xl-5">
						<div class="card border-0 rounded-4">
							<div class="card-body p-3 p-md-4 p-xl-5">
								<div class="row">
									<div class="col-12">
										<div class="mb-4">
											<h3 style="color: #000">Reset Your Password</h3>
											<p class="mb-4">Create a new password. Make sure it's at least 8 characters long.</p>
										</div>
									</div>
								</div>
								<form id="resetPasswordForm">
									<input type="hidden" name="token" id="token" value="{{ token }}"/>
									<div class="form-floating mb-3">
										<input type="password" class="form-control" id="new_password" placeholder="New password"
													 minlength="8" required/>
										<label for="new_password">New Password</label>
									</div>
									<div class="form-floating mb-3">
										<input type="password" class="form-control" id="confirm_password" placeholder="Confirm password"
													 minlength="8" required/>
										<label for="confirm_password">Confirm Password</label>
									</div>
									<div class="d-grid">
										<button class="btn btn-primary btn-lg" type="submit">Update Password</button>
									</div>
								</form>
								<div class="row mt-2">
									<div class="col-12">
										<div class="alert alert-danger d-none" id="errorMessage" role="alert"></div>
									</div>
									<div class="col-12">
										<div class="alert alert-success d-none" id="successMessage" role="alert"></div>
									</div>
									<div class="col-12">
										<div class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-end mt-2">
											<a href="/login">Back to login</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock content %}

{% block scripts %}
	<script type="application/javascript">
		document.addEventListener('DOMContentLoaded', () => {
			const form = $('#resetPasswordForm');
			const passwordInput = $('#new_password');
			const confirmInput = $('#confirm_password');
			const errorMessage = $('#errorMessage');
			const successMessage = $('#successMessage');

			const urlParams = new URLSearchParams(window.location.search);
			const token = urlParams.get('token');

			if(!token) {
				errorMessage.text("Invalid or expired token").removeClass("d-none");
				return;
			} else {
				urlParams.delete("token");
			}

			form.on('submit', async (e) => {
				e.preventDefault();
				errorMessage.addClass("d-none");
				successMessage.addClass("d-none");

				const password = passwordInput.val().trim();
				const confirm = confirmInput.val().trim();

				if (password.length < 8) {
					errorMessage.text("Password must be at least 8 characters long.").removeClass("d-none");
					return;
				}

				if (password !== confirm) {
					errorMessage.text("Passwords do not match.").removeClass("d-none");
					return;
				}

				const data = {token: token, password: password}
				try {
				const response = await fetch("/api/auth/reset-password/",
					{
						method: "POST",
						headers: {"Content-Type": "application/json"},
						body: JSON.stringify(data)
					});
				const json = await response.json();
				if (!response.ok) {
					errorMessage.text(json.message || 'Failed to reset password. Please contact support').removeClass('d-none');
				} else {
					form.addClass("d-none");
					successMessage.text(json.message || "Password reset successful! You may login now").removeClass('d-none');
				}
			} catch (error) {
				console.error('Error:', error);
				errorMessage.text('An error occurred during login. Please try again.').removeClass('d-none');
			}
			});
		});
	</script>
{% endblock scripts %}